@use "global" as *;

.c-cards {
  display: grid;
  gap: myrem(16) myrem(20);
  grid-template-columns: repeat(1,1fr);
  max-width: myrem(600);
  margin-inline: auto;
  @include mq(md) {
    grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
    gap: myrem(40) myrem(40);
    max-width: 100%;
    width: 100%;
}}