@use "global" as *;

.heading-25 {
  position: relative;
  padding-top: .75em;
  color: #333333;
}

.heading-25::before {
  position: absolute;
  bottom: .5em;
  left: 0;
  z-index: -1;
  color: #d9f4ff;
  font-size: 1.5em;
  line-height: 1;
  content: attr(data-word);
  pointer-events: none;
}

[data-word="HEADING"] {
  text-transform: uppercase; /* すべて大文字にする */
  font-size: myrem(50); /* フォントサイズを24pxにする */
}