@use "global" as *;

.c-sub-mv {
  height: auto;
  // height: myrem(460);
  width: 100%;
  position: relative;
  @include mq(md) {
    // height: myrem(529);
    height: auto;
  }
}

.c-sub-mv__img {
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: cover;
}

.c-sub-mv__img img {
  height: 100%;
  width: 100%;
  position: relative;
  object-fit: cover;
  aspect-ratio: 375/460;
  @include mq(md) {
    aspect-ratio: 1440/529;
  }
}

// .c-sub-mv__img::before {
//   content: "";
//   display: block;
//   background-color: rgba($brown, .3);
//   width: 100%;
//   position: absolute;
//   height: 100%;
//   top: 0;
//   left: 0;
//   z-index: 10;
// }

.c-sub-mv__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: $white;
  font-size: myrem(40);
  font-weight: normal;
  z-index: 100;
  @include mq(md) {
    top: 50%;
    letter-spacing: -0.04em;
    font-size: myrem(70);
    transform: translate(-50%,-50%);
  }
}

.c-sub-mv__title::first-letter {
  text-transform: uppercase;
}

.c-sub-mv__title.c-sub-mv__title--transform {
  text-transform: capitalize;
}

.c-sub-mv__title-small {
  text-transform: lowercase;
}