@use "global" as *;

.c-section-title {

}

.c-section-title__en {
  font-size: myrem(30);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 500;
  @include mq(md) {
  font-size: myrem(40);
  }
}

.c-section-title__ja.c-section-title__ja--white,
.c-section-title__en.c-section-title__en--white{
  color: $white;
}

.c-section-title__ja {
  display: block;
  font-size: myrem(18);
  margin-top: calc((8/375) *100vw );
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: $brown;
  @include mq(md) {
  font-size: myrem(20);
  margin-top: calc((12/1440) *100vw );
  }
}

