@use "global" as *;

.wp-pagenavi  {
  display: flex;
  gap: myrem(12);
  justify-content: center;
}

.wp-pagenavi  .smaller,
.wp-pagenavi  .current,
.wp-pagenavi  .larger  {
  display: grid;
  align-items: center;
  font-size: myrem(16);
  border: myrem(1) solid $brown;
  padding: 0 myrem(5);
  color: $brown;
  height: myrem(38);
  min-width: myrem(38);
  font-weight: bold;
  place-items: center;
  text-align: center;
  transition: 0.3s all;  
  cursor: pointer;
}

// .wp-pagenavi .page:nth-child(n+5){
//   display: none;
//   @include mq(md){
//       display: grid;
//   }
//   }

.wp-pagenavi  .current {
  background-color: $brown;
  color: $white;
}

.wp-pagenavi  .smaller:hover,
.wp-pagenavi  .current:hover,
.wp-pagenavi  .larger:hover {
  background-color: $brown;
  color: $white;
  transition: 0.3s all;
} 

.wp-pagenavi  .previouspostslink,
.wp-pagenavi  .nextpostslink {
  display: grid;
  align-items: center;
  font-size: myrem(16);
  border: myrem(1) solid $brown;
  padding: 0 myrem(5);
  color: $brown;
  height: myrem(38);
  min-width: myrem(38);
  font-weight: bold;
  place-items: center;
  text-align: center;
  transition: 0.3s all;  
  cursor: pointer;
}

.wp-pagenavi  .previouspostslink {
  margin-right: myrem(40);
  position: relative;
}

.wp-pagenavi  .previouspostslink::before {
  content: '';
  position: absolute;
  width: myrem(11);
  height: myrem(11);
  border-top: 1px solid $brown;
  border-right: 1px solid $brown;
  transform: rotate(-135deg);
  left: 43%;
  top: 36%;
  transition: 0.3s border;
}

.wp-pagenavi  .nextpostslink {
  margin-left: myrem(40);
  position: relative;
}

.wp-pagenavi  .nextpostslink::before {
  content: '';
  position: absolute;
  width: myrem(11);
  height: myrem(11);
  border-top: 1px solid $brown;
  border-right: 1px solid $brown;
  transform: rotate(45deg);
  right: 42%;
  top: 34%;
  transition: 0.3s border;
}

.wp-pagenavi  .previouspostslink:hover,
.wp-pagenavi  .nextpostslink:hover {
  background-color: $brown;
  color: $white;
  transition: 0.3s all;
} 

.wp-pagenavi  .previouspostslink:hover::before ,
.wp-pagenavi  .nextpostslink:hover::before {
  border-color: $white ;
  transition: 0.3s all;
}