@use "global" as *;

.p-about {
  // padding-block: myrem(100);
  // @include mq(md) {
  //  padding-block: myrem(120);
  // }
}

.p-about__title,
.p-about__button {
  text-align: center;
}

.p-about__title {
  font-size: myrem(50);
}

.p-about__title-area {
  display: flex;
  flex-direction: column;
  @include mq(md) {
   flex-direction: row-reverse;
   justify-content: center;

  }
}

.p-about__title-text {
  font-size: myrem(20);
  padding-block: myrem(20);
  @include mq(md) {  
    padding: myrem(40);
    line-height: 2;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
  }
}

.p-about__swiper {
  margin: myrem(50) calc(50% - 50vw);
  @include mq(md) {
    margin: myrem(80) calc(50% - 50vw);
  }
}

.p-about__content {
  margin-top: myrem(40);
  @include mq(md) {
   margin-top: myrem(52);
   display: flex;
   flex-direction: row-reverse;
   gap: myrem(30);
  }
}

.p-about__box {
  padding-top: myrem(20);
  @include mq(md) {
   padding-top: myrem(30);
  //  position: relative;
  }
}

.p-about__sub-title {
  font-size: myrem(16);
  @include mq(md) {
   position: absolute;
   font-size: myrem(27);
   letter-spacing: 0.05em;
  }
}

.p-about__text-box {
  margin-top: myrem(20);
  @include mq(md) {
   margin-top: myrem(170);
  }
}

.p-about__text {
  font-size: myrem(15);
  letter-spacing: 0.05em;
  @include mq(md) {
   font-size: myrem(16);
  }
}

.p-about__text:not(:first-of-type) {
  margin-top: myrem(20);
  @include mq(md) {
   margin-top: myrem(40);
  }
}

.p-about__img {
  @include mq(md) {
   max-width: myrem(800);
  }
}

.p-about__img img {
  height: auto;
  @include mq(md) {
  }
}
.p-about__swiper-slide img {
  height: myrem(222);
  @include mq(md) {   
    object-fit: cover;
    height: myrem(222);
    max-width: 100%;
  }
}

.p-about__button  {
  margin-top: myrem(32);
  @include mq(md) {
   margin-top: myrem(72);
  }
}



