@use "global" as *;

.p-access {
  padding-block: myrem(100);
  background-color: $brown6;
  @include mq(md) {
   padding-block: myrem(120);
  }
} 

.p-access__inner {
  width: 100%;
  overflow: hidden;
  @include mq(md) {
   max-width: myrem(1200);
   margin-inline: auto;
   padding-top: myrem(20);
  }
}

.p-access__title {
  text-align: center;
}

.p-access__information {
  display: flex;
  flex-direction: column;
  margin-top: myrem(32);
  @include mq(md) {
   align-items: flex-start;
   flex-direction: row;
   justify-content: space-between;
   padding-inline: myrem(40);
  }
}

.p-access__logo  {
  width: myrem(157);
}

.p-access__logo-link {
  display: flex;
  align-items: center;
}

.p-access__logo-link img  {
  width: 100%;
}

.p-access__address-box  {
  margin-top: myrem(8);
  font-style: normal;
}

.p-access__tel  {
  font-size: myrem(32);
  letter-spacing: 0.03em;
  color: $black;
  text-transform: capitalize;
}

.p-access__tel-link {
  display: inline-block;
  letter-spacing: 0.03em;
  color: $black;
  margin-left: myrem(8);
  font-size: myrem(46);
  line-height: calc(46/46);
  @include mq(md) {
    pointer-events: none;
    font-size: myrem(58);
    line-height: calc(58/58);
  }
}

.p-access__address  {
  margin-top: myrem(8);
  font-size: myrem(16);
  line-height: calc(29/16);
  letter-spacing: 0.04em;
  color: $black;
}

.p-access__table-area  {
  margin-top: myrem(20);
  max-width: myrem(460);
  margin-inline: auto;

  @include mq(md) {
    margin-top: myrem(1);
    min-width: myem(460);
    margin-inline: 0;
    height: 100%;
  }
}

.p-access__map  {
  margin-top: myrem(32);
  width: 100%;
  @include mq(md) {
  //  max-width: myrem(1040);
  }
}

.p-access__map iframe  {
  width: 100%;
}

.p-access__btn-area  {
  display: flex;
  flex-direction: column;
  @include mq(md) {
    margin-top: myrem(27);
    flex-direction: row;
    justify-content: space-between;
  }
}
.p-access__contact-btn  {
    margin-top: myrem(20);
    @include mq(md) {
    margin-top: 0;
    }
}

