@use "global" as *;

.p-blog {

}

.p-blog__inner {
  position: relative;
}

.p-blog__title {
  width: 100%;
  display: inline-block;
  text-align: center;
}

.p-blog__content {
  overflow: visible;
}

.p-blog__button-box {
  @include mq(md) {
    position: absolute;
    display: flex;
    gap: myrem(64);
    top: 4%;
    right: 25.5%;
    z-index: 1;
  }
}

.p-blog__button-prev,
.p-blog__button-next {
  display: none;
  @include mq(md) {
    display: block;
    width: myrem(80);
    height: myrem(80);
    z-index: 9999;
    transition: .3s;
  }
}

.p-blog__button-prev:hover,
.p-blog__button-next:hover {
  @include mq(md) {
    cursor : pointer;
    color: $brown;
    border: $brown;
    background: $white;
    border: 1px solid $brown;
  }
}

.p-blog__button-prev {
  display: inline-block;
  vertical-align: middle;
  color: $brown;
  line-height: 1;
  position: relative;
  width: myrem(50);
  height: myrem(50);
  border: 1px solid $brown;
  background: $brown;
  border-radius: 100vmax;
  box-sizing: content-box;
}

.p-blog__button-next {
  display: inline-block;
  vertical-align: middle;
  color: $brown;
  line-height: 1;
  position: relative;
  width: myrem(50);
  height: myrem(50);
  border: 1px solid $brown;
  background: $brown;
  border-radius: 100vmax;
  box-sizing: content-box;
}

.p-blog__button-prev:before {
  content: '';
  color: $white;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-width: myrem(10) myrem(15);
  border-right-color: currentColor;
  border-left: 0;
  transform: translateX(-15%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.p-blog__button-next:before {
  content: '';
  color: $white;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-width: myrem(10) myrem(15);
  border-left-color: currentColor;
  border-right: 0;
  transform: translateX(15%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.p-blog__button-prev:hover.p-blog__button-prev:before,
.p-blog__button-next:hover.p-blog__button-next:before {
  @include mq(md) {
    color: $brown;
  }
}

.p-blog__swiper {
  margin-top: myrem(24);
  max-width: 100%;
  padding-bottom: myrem(10);
  @include mq(md) {
   margin-top: myrem(40);
  }  
}

.p-blog__swiper-slide {
  max-width: myrem(280);
  @include mq(md) {
    max-width: myrem(333);
    min-width: myrem(333);
    width: 100%;
    height: auto;
  }
}

.p-blog__slide-card {

  height: auto;
  width: 100%;
  height: 100%;
  @include mq(md) {
    // max-width: myrem(280);
    // width: 100%;
    // width: myrem(333);
  }
}

.swiper-slide {
  height: auto;
  width: myrem(333);
} 

.p-blog__btn {
  text-align: center;
  margin-top: myrem(32);
  padding-bottom: myrem(5);
  @include mq(md) {
    margin-top: myrem(70);
  }
}


// .swiper-slide {
//   opacity: .3; /* 左右のスライドを薄くする */
//   transform: scale(.8); /* 左右のスライドを小さくする */
//   transition: .7s; /* ゆっくり小さくさせる */
//   flex-shrink: 0; /* スライドの幅が自動で縮まないようにする */
//   width: 100%;   
// }
// .swiper-slide img {
//   height: auto;
//   width: 100%;
// }
// .swiper-slide-active {
//   opacity: 1; /* 中央のスライドは薄くしない */
//   transform: scale(1); /* 中央のスライドは小さくしない */
//   z-index: 1; /* 中央のスライドを一番上にする */
// }

// /* 前後のスライド */
// .swiper-slide-prev,
// .swiper-slide-next {
//   opacity: 0.3; /* 前後のスライドは透明度を30%に */
//   transform: scale(0.8); /* 前後のスライドは縮小 */
// }


// .p-blog__swiper-slide {
//   // min-width: myrem(280);
//   @include mq(md) {
//    min-width: myrem(300);
//   }
// }