@use "global" as *;

.p-footer {
  background-color: black;
  padding-top: myrem(48);
  padding-bottom: myrem(56);
  @include mq(md) {
   padding-top: myrem(80);
   padding-bottom: myrem(80);
  } 
}

.p-footer__title-box {
  display: flex;
  flex-direction: column;
  @include mq(md) {
   flex-direction: row;
   align-items: flex-end;
   gap: myrem(42);
  }
}

.p-footer__title {
  width: myrem(120);
  @include mq(md) {
    width: myrem(200);
  }
}

.p-footer__title__link {
  display: inline-block;
}

.p-footer__title img {
  width: 100%;
  object-fit: cover;
}

.p-footer__sns-list {
  margin-top: myrem(17);
  display: flex;
  align-items: center;
  gap: myrem(16);
  @include mq(md) {
    gap: myrem(14);
  }
}

.p-footer__sns-icon {
  width: myrem(24);
  @include mq(md) {
   width: myrem(32);
  }
}

.p-footer__sns-link {
  display: inline-block;
}

.p-footer__sns-link:hover {
  @include mq(md) {
   opacity: 0.7;
  }
}

.p-footer__sns-icon img {
  width: 100%;
  object-fit: cover;
}

.p-footer__list-contents {
  display: flex;
  margin-top: myrem(30);
  max-width: myrem(600);
  margin-inline: auto;
  @include mq(md) {
  //  gap: myrem(56);
   max-width: 100%;
   width: 100%;
   justify-content: center;
  }
}

.p-footer__column-list {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 50%;
  @include mq(md) {
    width: 100%;
    max-width: myrem(500);
    gap: myrem(40);
    width: 50%;
  }
}

.p-footer__list-contents .p-footer__column-list:nth-child(2) {
  padding-left: myrem(6.4);
  @include mq(md) {
    padding-left: 0;
  }
}  

.p-footer__copy {
  margin-top: myrem(21);
  text-align: center;
  @include mq(md) {
   margin-top: myrem(59);
  }
}

.p-footer__copy-text {
  font-size: myrem(12);
  line-height: calc(18/12);
  color: $white;
  letter-spacing: 0.034em;
  @include mq(md) {
    letter-spacing: 0.12em;
  }
}

