@use "global" as *;

.footer {
  background-color: black;
  padding-top: myrem(48);
  padding-bottom: myrem(56);
  @include mq(md) {
   padding-top: myrem(80);
   padding-bottom: myrem(80);
  } 
}

.footer__inner {
  max-width: myrem(600);
  width: 100%;
}

.footer__title-box {
  display: flex;
  flex-direction: column;
  @include mq(md) {
   flex-direction: row;
   align-items: flex-end;
   gap: myrem(42);
  }
}

.footer__title {
  width: myrem(120);
  @include mq(md) {
    width: myrem(200);
  }
}

.footer__title__link {
  display: inline-block;
}

.footer__title img {
  width: 100%;
  object-fit: cover;
}

.footer__sns-list {
  margin-top: myrem(17);
  display: flex;
  align-items: center;
  gap: myrem(16);
  @include mq(md) {
    gap: myrem(14);
  }
}

.footer__sns-icon {
  width: myrem(24);
  @include mq(md) {
   width: myrem(32);
  }
}

.footer__sns-link {
  display: inline-block;
}

.footer__sns-link:hover {
  @include mq(md) {
   opacity: 0.7;
  }
}

.footer__sns-icon img {
  width: 100%;
  object-fit: cover;
}


.footer__nav-list:not(:first-of-type) {
  margin-top: myrem(16);
}

.footer__list-contents {
  display: flex;
  margin-top: myrem(6.4);
  gap: myrem(12.8);
  max-width: myrem(600);
  margin-inline: auto;
  @include mq(md) {
   gap: myrem(56);
   max-width: 100%;
   width: 100%;
  }
}

.footer__column-list {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 50%;
  @include mq(md) {
    flex-direction: row;
    width: 100%;
    max-width: myrem(500);
    gap: myrem(120);
  }
}

.footer__list-contents .footer__column-list:nth-child(2) {
  padding-left: myrem(6.4);
  @include mq(md) {
    padding-left: 0;
  }
}  

.footer__nav-list {
  margin-top: myrem(16);
  @include mq(md) {
   
  }
}

.footer__copy {
  margin-top: myrem(21);
  text-align: center;
  @include mq(md) {
   margin-top: myrem(59);
  }
}

.footer__copy-text {
  font-size: myrem(12);
  line-height: calc(18/12);
  color: $white;
  letter-spacing: 0.034em;
  @include mq(md) {
    letter-spacing: 0.12em;
  }
}