@use "global" as *;


.p-pc-nav {
  display: none;
  @include mq(md) {
    height: mymyrem(90);
   height: inherit;
  }
}

.p-pc-nav__items {
  display: flex;
  align-items: center;
  height: inherit;
}

.p-pc-nav__item {
  height: inherit;
  padding: 0 myrem(20);
}

.p-pc-nav__item-link {
  display: flex;
  align-items: center;
  height: inherit;
  position: relative;
  text-shadow: 4px 5px 0px rgba(117, 117, 116, 0.4);
}


.p-pc-nav__item-link::after {
  position: absolute; 
  bottom: myrem(35); 
  left: 0;
  content: "";
  width: 100%;
  height: myrem(2);
  background-color: $white;
  opacity: 0;
  visibility: hidden;
  transition:  .5s;
  box-shadow: 4px 5px 0px rgba(117, 117, 116, 0.4);
}

.p-pc-nav__item-link:hover::after {
  content: "";
  opacity: 0;
  animation-name: fadein-bottom;
  animation-duration: .8s;
  animation-timing-function: ease-out; 
  animation-fill-mode: forwards;
  background-color: $white;
  bottom: myrem(9); 
  visibility: visible; 
}

@keyframes fadein-bottom {
  0%{ 
  opacity: 0;
  transform: translateY(10px); 
  }
  100%{ 
  opacity: 1; 
  transform: translateY(-12px);
  }
}
