@use "global" as *;


.p-page-news__inner {
  max-width: myrem(600);
  margin-inline: auto;
  @include mq(md) {
   max-width: myrem(1280);
  }
}

.p-page-news__contents {
  margin-top: myrem(40);
  @include mq(md) {
    margin-top: myrem(40);
  }
} 

.p-page-news__explanatory-box {
  margin-top: myrem(30);
}

.p-page-news__explanatory-title {
  font-size: myrem(18);

}

.p-page-news__explanatory-text {
  font-size: myrem(15);
  margin-top: myrem(10);
}


.p-page-news__pagenation {
  margin-top: myrem(50);
}
