@use "global" as *;

.p-privacy-policy__inner {
  max-width: myrem(600);
  width: 100%;
  margin-inline: auto;
  @include mq(md) {
   max-width: myrem(850);
  }
}

.p-privacy-policy__title {
  font-size: myrem(24);
  @include mq(md) {
    font-size: myrem(32);
  }
}

.p-privacy-policy__contents {
  margin-top: myrem(40);
}

.p-privacy-policy__text-box {
  margin-top: myrem(32);
}

.p-privacy-policy__text,
.p-privacy-policy__list-item {
  font-size: myrem(16);
  line-height: calc(32/16);
}

.p-privacy-policy__list-item {
  text-indent: -1em;
  padding-left: myrem(24);
}

.p-privacy-policy__text-item {
  margin-top: myrem(32);
  
}