@use "global" as *;

.p-table  {
  max-width: myrem(380);
  width: 100%;
  border-radius: myrem(5);
  border: 1px solid $brown;
  padding: myrem(14) myrem(0) myrem(25) myrem(10);
  background-color: $white;
  overflow-x: scroll;
  @include mq(md) {
    -ms-overflow-style: none;
    min-width: myrem(460);
    padding: myrem(16) myrem(20) myrem(16) myrem(20);
  }
}

.p-table::-webkit-scrollbar{
  @include mq(md) {
    display: none;
  }
}

.p-table__wrapper {
  text-align: center;
  border-collapse: collapse;
  width: 110%;
  @include mq(md) {
   width: 100%;
  }
}

.p-table__tbody {
  width: 113%;
  @include mq(md) {
   width: 100%;
  }
}

.p-table__wrapper,
.p-table__tbody{
  display: block;
  text-align: center;
}

.p-table__row {
  border-bottom: 1px solid #E6E6E6;
  min-height: myrem(42);
  display: block;
  @include mq(md) {
   width: 100%;
  }
}

.p-table th {
  font-weight: normal;
  height: inherit;
}

.p-table__title {
  letter-spacing: 0.04em;
  padding: myrem(8) myrem(9) myrem(9) myrem(16);
  text-align: left;
}

.p-table__title,
.p-table__time {
  min-width: myrem(128);
}

.p-table__day,
.p-table__mark {
  min-width: myrem(40);
}

.p-table__day {
  white-space: nowrap;
}

.p-table__day.p-table__day--sat {
  color: blue;
}

.p-table__day.p-table__day--sun {
  min-width: myrem(60);
  color: red;
}

.p-table td  {
  line-height: calc(23/16);
  letter-spacing: 0.04em;
  color: $black;
  height: inherit;
}

.p-table__time {
  padding: myrem(5) myrem(14) myrem(10);
}

.p-table__row:nth-child(2) .p-table__time {
  padding: myrem(9) myrem(14) myrem(6);
}


.p-table__in-mark-pink {
  color: $brown;
  display: inline-block;
  margin: auto;
}

.p-table__text {
  font-size: myrem(13);
  letter-spacing: 0.04em;
  margin-left: myrem(7);
  margin-top: myrem(10);
  @include mq(md) {
    font-size: myrem(12);
  }
}

.p-table__text-link {
  color: $brown;
  text-decoration: underline $brown;
}