@use "global" as *;

.p-table  {
  max-width: myrem(380);
  width: 100%;
  border-radius: myrem(4.5);
  border: 1px solid $brown;
  padding: myrem(14.24) myrem(0) myrem(17.6) myrem(20);
  background-color: $white;
  overflow-x: scroll;
  @include mq(md) {
    -ms-overflow-style: none;
    min-width: myrem(460);
    padding: myrem(14.24) myrem(25) myrem(17.6) myrem(25);
  }
}

.p-table::-webkit-scrollbar{
  @include mq(md) {
    display: none;
  }
}

.p-table__wrapper {
  text-align: center;
  border-collapse: collapse;
  width: 110%;
  @include mq(md) {
   width: 100%;
  }
}

.p-table__tbody {
  width: 113%;
  @include mq(md) {
   width: 100%;
  }
}

.p-table__wrapper,
.p-table__tbody{
  display: block;
  text-align: center;
}

.p-table__row {
  border-bottom: 1px solid #E6E6E6;
  min-height: myrem(42.4);
  display: block;
  text-align: center;
  max-width: myrem(420);
  @include mq(md) {
   width: 100%;
  }
}

.p-table th {
  font-weight: normal;
  height: inherit;
}

.p-table__title {
  letter-spacing: 0.04em;
  padding: myrem(8) myrem(9.28) myrem(9) myrem(16);
}

.p-table__title,
.p-table__time {
  min-width: myrem(107);
}

.p-table__day,
.p-table__mark {
  min-width: myrem(40);
}

.p-table__sun {
  min-width: myrem(60);
}

.p-table__day {
  padding: myrem(0) myrem(0) myrem(0) myrem(6.4);
}

.p-table__day.p-table__day--tue {
  padding: myrem(0) myrem(0) myrem(0) myrem(6.4);
}

.p-table__day.p-table__day--wed {
  padding: myrem(0) myrem(0) myrem(0) myrem(6.4);
}

.p-table__day.p-table__day--thu {
  padding: myrem(0) myrem(0) myrem(0) myrem(6.4);
}

.p-table__day.p-table__day--fri {
  padding: myrem(0) myrem(0) myrem(0) myrem(6.4);
}

.p-table__day.p-table__day--sat {
  padding: myrem(0) myrem(0) myrem(0) myrem(6.4);
}

.p-table__day.p-table__day--sun {
  padding: myrem(0) myrem(0) myrem(0) myrem(1.6);
}

.p-table td  {
  line-height: calc(23/16);
  letter-spacing: 0.04em;
  color: $black;
  height: inherit;
}

.p-table__time {
  padding: myrem(4.8) myrem(14.4) myrem(9.6);
}

.p-table__row:nth-child(2) .p-table__time {
  padding: myrem(8.8) myrem(13.6) myrem(6.4);
}
.p-table__row:nth-child(3) .p-table__time {
  padding: myrem(8) myrem(14.4) myrem(6.4);
}

.p-table__mark {
  padding: myrem(3.2) myrem(6.4) myrem(0) myrem(0);
}

.p-table__mark.p-table__mark--tue {
  padding: myrem(3.2) myrem(6.4) myrem(0) myrem(0);
}

.p-table__mark.p-table__mark--wed {
  padding: myrem(3.2) myrem(6.4) myrem(0) myrem(0);
}

.p-table__mark.p-table__mark--thu {
  padding: myrem(3.2) myrem(6.4) myrem(0) myrem(0);
}

.p-table__mark.p-table__mark--fri {
  padding: myrem(3.2) myrem(6.4) myrem(0) myrem(0);
}

.p-table__mark.p-table__mark--sat {
  padding: myrem(3.2) myrem(6.4) myrem(0) myrem(0);
}

.p-table__mark.p-table__mark--sun {
  padding: myrem(3.2) myrem(13.92) myrem(0) myrem(1.6);
}

.p-table__row:nth-child(3) .p-table__mark.p-table__mark--sat {
  padding: myrem(3.2) myrem(6.4) myrem(0) myrem(0);
}


.p-table__in-mark-pink {
  color: $brown;
  display: inline-block;
  margin: auto;
}
.p-table__in-mark-black {
  color: $black;
  display: inline-block;
  margin: auto;
}

.p-table__text {
  font-size: myrem(8);
  line-height: calc(14/14);
  letter-spacing: 0.04em;
  margin-left: myrem(7);
  margin-top: myrem(8.96);
  @include mq(md) {
    font-size: myrem(10);
  }
}